@model Bong.Posts.ViewModels.CreateViewModel
@{
    Layout = "_Layout";
}

<div class="columns module-header">
    <div class="column">
        <h1>Create a post</h1>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(_ => _.Title, new { @class = "form-label"})
        @Html.TextBoxFor(_ => _.Title, new { @class = "form-input"})
    </div>
    <div class="form-group">
        @Html.LabelFor(_ => _.Url, new { @class = "form-label" })
        @Html.TextBoxFor(_ => _.Url, new { @class = "form-input" })
    </div>
    <div class="form-group">
        @Html.LabelFor(_ => _.Body, new { @class = "form-label" })
        @Html.TextAreaFor(_ => _.Body, new { @class = "form-input" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}